:root{
    font-family: 'Barlow', sans-serif, 'Segoe UI', Verdana;
}

html{
    scroll-behavior: smooth;
    background-color: #000000;
}

body{
    font-size: 1.5rem;
    font-weight: bold;
    box-sizing: border-box;
    color:white;
}

header{
    background-image: url('header.jpg'), linear-gradient(rgba(0,0,2,255), #000000);
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#acercade{
    background-image: url('estrellas.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#skills{
    background-image: url('estrellas.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

#formacion{
    background-image: url(''), linear-gradient(#000000, rgba(10,11,12,255));
    background-repeat: no-repeat;
}

#proyectos{
    background-image: url('proyectos.png'), linear-gradient(rgba(10,11,12,255), rgba(20,21,23,255));
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}


#contacto{
    background-image: url('rodapie.jpg');
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}