.container{
    padding: 3rem 1.5rem;
}

.container h1{
    margin: 15px 0;
    font-weight: bold;
    padding: 10px;
    font-family: Verdana;
}

/*  Barra Navegacion    */

.barra{
    width: 100vw;
}

.barra__menu{
    position: fixed;
    width: 100vw;
    background-color: var(--fondoBarra);
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    font-size: 1.8rem;
    transform: translateY(-90px);
    z-index: 100;
}

#titulo__desktop{
    display: none;
}

#titulo__movil{ 
    text-decoration: none;
    display: inline-block;
    float: left;
    margin-left: 3rem;
    color: var(--tituloTexto);
}

#titulo__movil:hover{
    color: var(--hover);
}

.barra__menu i{
    display: inline-block;
    float: right;
    margin-right: 3rem;
}

.barra__lista{
    display: none;
}

.barra__lista.active{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--fondoBarraActiva);
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100;
    
}

.barra__lista__item{
    text-decoration: none;
    color: var(--tituloTexto);
    border-bottom: 5px solid grey;
}

.barra__lista__item:hover{
    color: var(--barraItem);
    border-bottom: 5px solid var(--barraItemSombrado);
}

/*   Encabezado   */

#encabezado{
    padding-top: 100px;
}

.encabezado{
    margin-top: 90px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.encabezado__descripcion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.encabezado__descripcion legend{
    font-size: 2.2rem;
    margin: 2rem 0;
}

.encabezado__perfil{
    width: 20%;
    border-radius: 50px;
    margin-right: 7%;
}

/* Acerca De*/

#acercade p{
    margin: 0 2rem;
}

/*  Skills / Conocimiento   */

.skills__lista{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.skills__lista img{
    height: 15vh;
    width: 20vw;
}

.skills__lista__item{
    align-items: center;
    margin: 30px;
}

/*  Formacion Academica */

.formacion__lista{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.formacion__lista li{
    width: 30%;
    margin: 20px 0;
    font-family: bold;
}

.formacion__lista li img{
    width: 100%;
}

.formacion__lista li h2{
    margin: 20px 0;
}

/*  Proyectos   */

.proyecto__lista{
    display: inline;
}

.proyecto__lista li{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px 0;
}

.proyecto__lista li img{
    width: 90%;
}

.proyecto__lista__titulo{
    font-style: italic;
    font-family: 'Segoe UI';
    font-size: 50px;
    margin: 40px 0;
}

.proyecto__lista__boton{
    text-decoration: none;
    color: var(--tituloTexto);
    background-color: var(--botonProyecto);
    opacity: 0.9;
    font-family: 'Segoe UI';
    font-size: 30px;
    border: 2px outset var(--bordeadoBotonProyecto);
    border-radius: 20px;
    margin: 25px 15px;
    padding: 15px 90px;
    box-shadow: 2px 2px var(--fondoNegro);
}

.proyecto__lista__boton:active{
    background-color: var(--botonProyectoActivo);
    border: 2px inset var(--bordeadoBotonProyecto);
}

/*   Contacto   */

#contacto h1{
    font-family: Verdana;
    font-size: 2.5rem;
    padding: 10px;
}

#contacto > input{
    color: var(--tituloTexto);
}

.contacto__input{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 7px 0;
    box-shadow: 1px 1px var(--fondoNegro);
    opacity: 0.9;
}

.contacto__input:not(#mensaje){
    width: 40%;
    height: 25px;
}

.contacto__enviar{
    width: 250px;
    height: 40px;
    border-radius: 15px;
    margin: 10px 0;
    background-color: var(--botonContacto);
    opacity: 0.9;
    box-shadow: -1px 1px var(--fondoNegro);
    font-weight: bold;
}

.contacto__enviar:active{
    background-color: var(--botonContactoHover);
}


/*  Pie de Pagina   */

.rodapie{
    min-height: 200px;
    background-color: var(--fondoRodapie);
    padding: 50px;
}

.rodapie__lista{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    
}

.rodapie__lista a{
    font-size: 3rem;
    margin: 0px 10px;
    color: var(--tituloTexto);
}

.rodapie__lista a:hover{
    color: var(--hover);
}

.rodapie p{
    margin: 20px 0;
}

/* Desktop */

@media screen and (min-width:768px) {

    /* Barra Navegacion */
    
    .menu{
       display: none;
    }

    .barra{
        position: fixed;
        width: 100vw;
        background-color: var(--fondoBarra);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2rem 0;
        font-size: 1.8rem;
        transform: translateY(-90px);
        z-index: 100;
        transition: 0.5s;
    }

    #titulo__movil{
        display: none;
    }

    #titulo__desktop{
        text-decoration: none;
        display: flex;
        margin: 0 20px;
        color: var(--tituloTexto);
        transition: 0.5s;
    }

    #titulo__desktop:hover{
        color: var(--hover);
    }
    
    .barra__lista{
        display: flex;
        flex-direction: row;
    }
    
    .barra__lista__item{
        text-decoration: none;
        margin: 0 7px;
        transition: 0.5s;
    }
    
    .barra__lista__item:hover{
        color: var(--hover);
    }

    /*  Proyectos   */
    
    .proyecto__lista li{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .proyecto__lista li img{
        height: 20%;
        width: 50vw;
    }

    .proyecto__lista__boton{
        font-size: 25px;
        border: 2px outset var(--bordeadoBotonProyecto);
        border-radius: 20px;
        margin: 10px 10px;
        padding: 10px 25px;
        box-shadow: 2px 2px var(--fondoNegro);
        transition: 0.5s ease-in-out;
    }

    .proyecto__lista__boton:hover{
        background-color: var(--hover);
    }

    .proyecto__lista__boton:active{
        border: 2px inset var(--bordeadoBotonProyecto);
        background-color: var(--botonProyectoActivo);
   }

    .proyecto__lista li:nth-child(2n){
        flex-direction: row-reverse;
    }
    
    /*   Contacto   */

    .contacto__enviar{
        transition: 0.5s;
    }

    .contacto__enviar:hover{
        background-color: var(--botonContactoHover);
    }

    .contacto__enviar:active{
        box-shadow: none;
        transform: translateX(-2px) translateY(2px);
    }

}